@import "./colors";

footer {
	position: relative;
	width: 100%;
	padding-top: 5rem;
	background-color: $gray;
	color: $white;
	display: block;
	div {
		position: relative;
		width: 90%;
		padding: 0.15rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		border-top: 1px solid $white;
		margin: 0 auto;
		span {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
			padding: 1rem;
			font-size: clamp(0.8rem, 2vw, 1rem);
		}
		.twitter {
			padding: 0.2rem;
			border-radius: 0.5rem;
			transition: background-color 100ms ease-in-out;
			font-size: 1em;
			&:hover {
				background-color: lighten($gray, 10);
			}
		}
	}
}
